html body .modula .modula-items .modula-item {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}

html body .modula .modula-items .modula-item .modula-item-content {
    transition: transform .3s ease-out, opacity .2s linear, top .3s, left .6s;
    opacity: 0;
}

html body .modula .modula-items {
    position: relative;
    z-index: 1;
    min-height: 10px;
}

html body .modula .modula-items .modula-item .modula-item-content > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: transparent;
}

html body .modula.modula-creative-gallery .modula-items .modula-item .modula-item-content,
html body .modula.modula-custom-grid .modula-items .modula-item .modula-item-content {
    height: 100%;
}

html body .modula .modula-items .modula-item .jtg-social {
    z-index: 10;
    font-size: 0;
}

html body .modula:not(.modula-loaded-scale).modula-gallery-initialized .modula-items .modula-item.tg-loaded .modula-item-content,
html body .modula:not(.modula-loaded-scale).modula-gallery-initialized .modula-items.justified-gallery .modula-item .modula-item-content,
html body .modula.modula-columns:not(.modula-loaded-scale).modula-gallery-initialized .modula-items .modula-item .modula-item-content {
    transform: scale(1) translate(0, 0) rotate(0deg) !important;
    opacity: 1;
}

html body .modula .modula-items .modula-item img.pic {
    font-size: 12px;
    position: absolute;
    /*display: none;*/
    /*opacity: 0;*/
    max-width: 999em;
    transition: width .3s, height .3s, transform .3s linear, opacity .2s linear;
}

html body .modula.modula-columns .modula-items .modula-item img.pic {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

html body .modula .modula-items .modula-item.tg-loaded img.pic,
html body .modula.modula-columns .modula-items .modula-item img.pic {
    display: block;
    opacity: 1;
}

html body .modula .modula-items .modula-item img.pic.lazyloaded,
html body .modula .modula-items .modula-item img.pic.lazyload {
    display: block;
}

html body .modula .modula-items .modula-item .caption .icon {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -8px;
}

html body .modula .modula-items .modula-item .figc {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    max-width: 100%;
}


html body .modula .modula-items .hidden .figc {
    display: none;
}

html body .modula .modula-items .hidden:hover .figc {
    display: block;
}

html body .modula .modula-items .visible .figc {
    display: block;
}

html body .modula .modula-items .always-visible .figc {
    display: block;
}

html body .modula .modula-items .visible:hover .figc {
    display: none;
}

html body .modula .modula-items .caption span.text {
    display: block;
    padding: 10px;
}

html body .modula .modula-items .caption span.title {
    font-size: 14px;
    font-weight: bold;
}

html body .modula .jtg-social a {
    box-shadow: none;
}

html body .modula .jtg-social svg {
    width: 20px;
    height: 16px;
}

html body .modula .modula-items .modula-item .jtg-title {
    margin: 0;
}

html body .modula .modula-items .modula-item p {
    margin: 0;
    padding: 0;
}

html body .modula .figc {
    color: black;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2em;
}

html body .modula .modula-item .jtg-social a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
    opacity: 0;
    transition: opacity .3s;
}

html body .modula .modula-item:hover .jtg-social a {
    opacity: 1;
}

/*---------------*/
/***** pufrobo *****/
/*---------------*/
html body .modula .modula-items .jtg-social {
    opacity: 0;
    right: 30px;
    position: absolute;
    bottom: 20px;
    text-align: right;
    transition: all .3s;
}

html body .et_pb_module_inner .modula .modula-items .jtg-social {
    transition: all .3s !important;
}

html body .modula .modula-items .modula-item.effect-pufrobo .jtg-social  a {
    margin-right:10px;
}

@media all and (max-width:480px){
    html body .modula .modula-items .modula-item.effect-pufrobo .jtg-social {
        right:0;
        width:100%;
        text-align:center;
    }

    html body .modula .modula-items .modula-item.effect-pufrobo .jtg-social  a {
        padding:5px;
    }
}

html body .modula .modula-items .jtg-social {
    opacity: 1;
}

html body .modula .modula-items .jtg-social a:last-of-type {
    margin-right: 0;
}

html body .modula .modula-item.effect-pufrobo p.description {
    margin-bottom: 2em;
}

html body .et_pb_module_inner .modula .modula-item.effect-pufrobo p.description {
    -webkit-transition: -webkit-transform 0.35s !important;
    transition: transform 0.35s !important;
}

html body .modula .modula-item.effect-pufrobo .figc {
    text-align: right;
}

html body .modula .modula-item.effect-pufrobo .jtg-title,
html body .modula .modula-item.effect-pufrobo p {
    position: absolute;
    right: 5%;
    left: 5%;
    padding: 10px 0;
}

html body .modula.modula-gallery-initialized .modula-item:hover img,
html body .modula.modula-gallery-initialized .modula-items .modula-item.tg-loaded:hover img.pic {
    opacity: .8
}

/*.modula .modula-item { background-color:#000; }*/

html body .modula .modula-item.effect-pufrobo p {
    bottom: 20%;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    letter-spacing: 1px;
}

html body .modula .modula-items .modula-item.effect-pufrobo .jtg-title{
    /*top: 30px;*/
    top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

html body .et_pb_module_inner .modula .modula-items .modula-item.effect-pufrobo .jtg-title {
    -webkit-transition: -webkit-transform 0.35s !important;
    transition: transform 0.35s !important;
}

html body .modula .modula-item.effect-pufrobo:hover .jtg-title{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

html body .modula .modula-item.effect-pufrobo .jtg-title::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

html body .modula .modula-item.effect-pufrobo .jtg-title::after,
html body .modula .modula-item.effect-pufrobo p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

html body .modula .modula-item.effect-pufrobo:hover .jtg-title::after,
html body .modula .modula-item.effect-pufrobo:hover p {
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

html body .modula .modula-items .modula-item.effect-pufrobo .figc.no-title.no-description .jtg-title:after {
    display: none;
}

/* TwnetyNintheen fix */
html body .modula .modula-items .modula-item.effect-fluid-up .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-hide .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-quiet .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-reflex .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-curtain .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-lens .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-appear .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-crafty .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-seemo .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-comodo .figc .jtg-title:before,
html body .modula .modula-items .modula-item.effect-pufrobo .figc .jtg-title:before {
    display: none;
}

html body .modula .modula-items .modula-item > a:not(.modula-no-follow) {
    cursor: zoom-in;
}
html body .modula .modula-items .modula-item > a.modula-no-follow {
    cursor: default;
}

/**
Fix for admin bar overfloating
 */
html body .modula-fancybox-container.modula-fancybox-is-open {
    z-index: 99999999;
}

html body .modula-fancybox-share__button--li {
    background: #0e76a8;
}

html body .modula-fancybox-share__button--wa {
    background: #25D366;
}

/* New CSS */
html body .modula.modula-columns .modula-item {
    display: flex;
    justify-content: center;
}

html body .modula.modula-columns .modula-item .modula-item-content {
    position: relative;
}

html body .modula.modula-columns .modula-items.grid-gallery .modula-item .modula-item-content {
    height: 100%;
}

html body .modula.modula-columns .modula-items.grid-gallery.justified-gallery .modula-item .modula-item-content {
    width: 100%;
}

html body .modula.modula-columns .modula-items.grid-gallery.justified-gallery .modula-item .modula-item-content .pic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    border: none;
}

html body .modula.modula-columns .modula-item.jg-filtered {
    display: none;
}

/* Modula Grid */
/*  Rows CSS */
html body .modula-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

html body .modula-row-cols-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

html body .modula-row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

html body .modula-row-cols-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

html body .modula-row-cols-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

html body .modula-row-cols-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

html body .modula-row-cols-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

@media (min-width: 576px) {
    html body .modula-row-cols-sm-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    html body .modula-row-cols-sm-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    html body .modula-row-cols-sm-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    html body .modula-row-cols-sm-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    html body  .modula-row-cols-sm-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    html body .modula-row-cols-sm-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
}

@media (min-width: 768px) {
    html body .modula-row-cols-md-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    html body .modula-row-cols-md-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    html body .modula-row-cols-md-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    html body .modula-row-cols-md-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    html body  .modula-row-cols-md-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    html body .modula-row-cols-md-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

}

@media (min-width: 992px) {
    html body .modula-row-cols-lg-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    html body .modula-row-cols-lg-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    html body .modula-row-cols-lg-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    html body .modula-row-cols-lg-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    html body .modula-row-cols-lg-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    html body .modula-row-cols-lg-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
}

@media (min-width: 1200px) {
    html body .modula-row-cols-xl-1 > * {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    html body  .modula-row-cols-xl-2 > * {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    html body  .modula-row-cols-xl-3 > * {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    html body .modula-row-cols-xl-4 > * {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    html body .modula-row-cols-xl-5 > * {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    html body .modula-row-cols-xl-6 > * {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
}

html body .modula .modula-items.grid-gallery .modula-item .figc {
    height: 100%;
    top: 0;
}

html body div.modula-powered {
    text-align: right;
    font-size: 14px;
    margin-right: 5px;
    clear:both;
}

html body div.modula-powered svg.modula-logo {
    width: 14px;
    position: relative;
    top: 3px;
}

html body div.modula-powered svg.modula-logo path {
    color: #58ab7e !important;

}

html body div.modula-powered svg.modula-logo {
    display: inline-block;
}

.modula-gallery:not( .modula-gallery-initialized ) > .modula-items {
    visibility: hidden;
}

.modula-gallery.modula-gallery-initialized .modula-items .modula-item {
    visibility: visible;
}