.modula .modula-items .modula-item {
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
}

.modula .modula-items .modula-item .modula-item-content {
	transition: transform .3s ease-out, opacity .2s linear, top .3s, left .6s;
	opacity: 0;
}

.modula .modula-items {
	position: relative;
	z-index: 1;
	min-height: 10px;
}

.modula .modula-items .modula-item .modula-item-content > a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: transparent;
}

.modula.modula-creative-gallery .modula-items .modula-item .modula-item-content,
.modula.modula-custom-grid .modula-items .modula-item .modula-item-content{
	height: 100%;
}

.modula .modula-items .modula-item .jtg-social {
	z-index: 10;
	font-size: 0;
}

.modula:not(.modula-loaded-scale) .modula-items .modula-item.tg-loaded .modula-item-content,
.modula:not(.modula-loaded-scale)  .modula-items.justified-gallery .modula-item .modula-item-content,
.modula.modula-columns:not(.modula-loaded-scale)  .modula-items .modula-item .modula-item-content {
	transform: scale(1) translate(0, 0) rotate(0deg) !important;
	opacity: 1;
}

.modula .modula-items .modula-item img.pic {
	font-size:12px;
	position:absolute;
	/*display: none;*/
	/*opacity: 0;*/
	max-width:999em;
	transition: width .3s, height .3s, transform .3s linear, opacity .2s linear;
}

.modula.modula-columns .modula-items .modula-item img.pic {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

.modula .modula-items .modula-item.tg-loaded img.pic,
.modula.modula-columns .modula-items .modula-item img.pic {
	display: block;
	opacity: 1;
}

.modula .modula-items .modula-item img.pic.lazyloaded,
.modula .modula-items .modula-item img.pic.lazyload {
	display: block;
}

/*.modula .modula-items .modula-item .description {
	font-size:14px;
}*/
.modula .modula-items .modula-item .caption .icon {
	font-size:14px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-12px 0 0 -8px;
}
.modula .modula-items .modula-item .figc {
	color: #fff;
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	padding:0;
	max-width:100%;
}


.modula .modula-items .hidden .figc
{
	display: none;
}
.modula .modula-items .hidden:hover .figc
{
	display: block;
}

.modula .modula-items .visible .figc
{
	display: block;
}
.modula .modula-items .always-visible .figc
{
	display: block;
}
.modula .modula-items .visible:hover .figc
{
	display: none;
}
.modula .modula-items .caption span.text {
	display: block;
	padding: 10px;
}
.modula .modula-items .caption span.title {
	font-size:14px;
	font-weight: bold;
}
/**
Modula Filters
 */
.modula .filters {
	margin:20px 0 20px 0;
}

.modula .filters.vertical-filters {
	margin-top:0;
	width:20%;
	float:left;
}


.modula .filters a {
	text-decoration: none;
	display: inline-block;
	/*margin:0 10px 0 0;*/
	color: #333;
	outline:none;
	transition:350ms ease-in;
}

.modula .filters.menu--dfefault a {
	border-bottom: 2px solid transparent;
}

.modula .filters.colored a {
	border:0;
	color:#fff;
}

.modula .filters:not(.styled-menu) a:hover,
.modula .filters:not(.styled-menu) a.selected {
	border-bottom-color: #333;
	border-bottom:1px solid;
}
/*body .modula .modula-item {
	width: 100%;
}*/
body .modula.vertical-filters .modula-items {
	width: 80%;
	float:left;
}
body .modula:after {
	content: "";
	display: block;
	clear: both;
}

.modula.vertical-filters .filters {
	width:20%;
	float:left;
}

body .modula .filters.vertical-filters.both-vertical + .modula-items {
	width: 60%;
	float:left;
}

.modula .filters.vertical-filters a {
	display:block;
	margin-bottom:15px;
}

.modula .filters.vertical-filters.colored a {
	border-radius:5px;
	text-align:center;
	background:#fff;
	border:1px solid #3498db;
	color:#3498db;
}

.modula .filters.vertical-filters.colored a:hover,
.modula .filters.vertical-filters.colored a.selected {
	background:#fff;
	color:#8e44ad;
	border-color:#8e44ad;
}

.modula .filters.horizontal-filters.colored a {
	display:inline-block;
	padding:0 30px;
	margin-right:2px;
	background:#3498db;
	position: relative;
	border:0px;
}

.modula .filters.horizontal-filters.colored a:hover,
.modula .filters.horizontal-filters.colored a.selected {
	background:#8e44ad;
}

.modula .filters.horizontal-filters.colored a:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-left-color: currentcolor;
	border-left-style: none;
	border-left-width: medium;
	border-left: solid 17px white;
	border-bottom: solid 41px transparent;
	z-index: 1;
	transition: .4s;
}

.modula .filters.horizontal-filters.colored a:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-left-color: currentcolor;
	border-left-style: none;
	border-left-width: medium;
	border-left: solid 17px transparent;
	border-bottom: solid 41px white;
	z-index: 1;
	transition: .4s;
}

.filter-by-wrapper {
	text-align:center;
	margin-bottom:25px;
	text-transform: uppercase;
}

.filter-by-wrapper span {
	cursor:pointer;
}

.filter-by-wrapper span:after {
	content:"";
	margin-left:15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 10px 0 10px;
	border-color: #0470e3 transparent transparent transparent;
	display:inline-block;
}

.filter-by-wrapper.opened span:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 15px 10px;
	border-color: transparent transparent #d500ff transparent;
	display:inline-block;
}

.modula .filters.vertical-filters a {
	margin-bottom:0;
}

.menu__list li.menu__item {
	margin:15px;
}

@media all and (min-width:1025px){
	.filter-by-wrapper {
		display:none !important;
	}

	.modula-gallery .filters {
		display:block !important;
	}
}

@media all and (max-width:1024px){

	.modula.vertical-filters .filters,
	.modula.vertical-filters .modula-items,
	.modula .filters.vertical-filters.both-vertical + .modula-items{
		width:100% !important;
		float:none;
	}

	.menu__list {
		padding:0px;
	}
	.menu__list li.menu__item {
		margin:0;
	}

}
/**
 End Modula Filters
 */
.modula .jtg-social a {
	box-shadow: none;
}

.modula .jtg-social svg {
    width: 20px;
    height: 16px;
}

.modula .modula-items .modula-item .jtg-title {
	margin:0;
}
.modula .modula-items .modula-item p {
	margin:0;
	padding: 0;
}
.modula .figc {
	color: black;
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	padding:2em;
}

.modula .modula-item .jtg-social a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin:0 10px 0 0;
	padding: 0;
	border: 0;
	opacity: 0;
	transition: opacity .3s;
}
.modula .modula-item:hover .jtg-social a {
	opacity: 1;
}

/*---------------*/
/***** pufrobo *****/
/*---------------*/
.modula .modula-items .jtg-social {
	opacity: 0;
	transition: opacity 0.1s;
	right:30px;
	position: absolute;
	bottom:20px;
	text-align: right;
	transition:all .3s;
}

.modula .modula-items .jtg-social {
	opacity: 1;
}

.modula .modula-items .jtg-social a:last-of-type {
	margin-right: 0;
}

.modula .modula-item.effect-pufrobo p.description {
	margin-bottom: 2em;
}

.modula .modula-item.effect-pufrobo .figc {
	text-align: right;
}

.modula .modula-item.effect-pufrobo .jtg-title,
.modula .modula-item.effect-pufrobo p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

.modula .modula-item:hover img,
.modula .modula-items .modula-item.tg-loaded:hover img.pic {
	opacity: .8
}

/*.modula .modula-item { background-color:#000; }*/

.modula .modula-item.effect-pufrobo p {
	bottom: 20%;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	letter-spacing: 1px;
}

.modula .modula-item.effect-pufrobo .jtg-title {
	/*top: 30px;*/
	top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.modula .modula-item.effect-pufrobo:hover .jtg-title {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.modula .modula-item.effect-pufrobo .jtg-title::after {
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.modula .modula-item.effect-pufrobo .jtg-title::after,
.modula .modula-item.effect-pufrobo p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.modula .modula-item.effect-pufrobo:hover .jtg-title::after,
.modula .modula-item.effect-pufrobo:hover p {
	margin-top: 10px;
	margin-bottom: 5px;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.modula .modula-items .modula-item.effect-pufrobo .figc.no-title.no-description .jtg-title:after {
	display: none;
}

/* TwnetyNintheen fix */
.modula .modula-items .modula-item.effect-fluid-up .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-hide .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-quiet .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-reflex .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-curtain .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-lens .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-appear .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-crafty .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-seemo .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-comodo .figc .jtg-title:before,
.modula .modula-items .modula-item.effect-pufrobo .figc .jtg-title:before {
	display: none;
}

.modula .modula-items .modula-item>a{cursor:zoom-in;}


/**
Fix for admin bar overfloating
 */
.modula-fancybox-container.modula-fancybox-is-open {
	z-index:99999999;
}

.modula-fancybox-share__button--li {
	background:#0e76a8;
}

.modula-fancybox-share__button--wa {
	background:#25D366;
}

/* New CSS */
.modula.modula-columns .modula-item {
	display: flex;
    justify-content: center;
}
.modula.modula-columns .modula-item .modula-item-content {
	position: relative;
}
/*.modula.modula-columns .modula-item .modula-item-overlay {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 9;
}*/
.modula.modula-columns .modula-items.grid-gallery .modula-item .modula-item-content {
	/*width: 100%;*/
	height: 100%;
}
.modula.modula-columns .modula-items.grid-gallery.justified-gallery .modula-item .modula-item-content {
	width: 100%;
}
.modula.modula-columns .modula-items.grid-gallery.justified-gallery .modula-item .modula-item-content .pic {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
    padding: 0;
    border: none;
}

.modula.modula-columns .modula-item.jg-filtered {
	display: none;
}

/* Modula Grid */
/*  Rows CSS */
.modula-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.modula-row-cols-1 > * {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.modula-row-cols-2 > * {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.modula-row-cols-3 > * {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.modula-row-cols-4 > * {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.modula-row-cols-5 > * {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%
}

.modula-row-cols-6 > * {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

@media (min-width: 576px) {
	.modula-row-cols-sm-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.modula-row-cols-sm-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.modula-row-cols-sm-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.modula-row-cols-sm-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.modula-row-cols-sm-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.modula-row-cols-sm-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
}

@media (min-width: 768px) {
	.modula-row-cols-md-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.modula-row-cols-md-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.modula-row-cols-md-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.modula-row-cols-md-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.modula-row-cols-md-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.modula-row-cols-md-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

}

@media (min-width: 992px) {
	.modula-row-cols-lg-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.modula-row-cols-lg-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.modula-row-cols-lg-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.modula-row-cols-lg-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.modula-row-cols-lg-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.modula-row-cols-lg-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
}

@media (min-width: 1200px) {
	.modula-row-cols-xl-1 > * {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.modula-row-cols-xl-2 > * {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.modula-row-cols-xl-3 > * {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.modula-row-cols-xl-4 > * {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.modula-row-cols-xl-5 > * {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.modula-row-cols-xl-6 > * {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
}

.modula .modula-items.grid-gallery .modula-item .figc {
	height:100%;
	top:0;
}