html body .modula-block-preview {
	background: #f3f3f5;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	height: 250px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
