{
	"parser": "@babel/eslint-parser",
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:import/recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"ignorePatterns": ["node_modules/"],
	"plugins": ["react", "import", "jsx-a11y", "react-hooks"],
	"rules": {
		"react/no-unescaped-entities": "off",
		"react/prop-types": 0,
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"import/no-unresolved": "error",
		"react/jsx-no-duplicate-props": "error",
		"react/jsx-no-undef": "error",
		"react/jsx-pascal-case": "error",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"no-unused-vars": "warn",
		"no-undef": "error",
		"no-console": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
