node_modules/*
.idea/*
**.zip
.standard.json
.DS_Store
.vscode/
vendor
assets/.DS_Store
.php-cs-fixer.cache
.wp-env.json
assets/js/admin/notification-system/*
includes/admin/wpchill/scripts/*
assets/js/admin/gallery-listing-ai/*
assets/js/admin/general-settings/*
stubs
