.image {
  width: calc(100% / var(--columns) - 5px);
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 350px;
}