.about__header-title.modula-about-heading {
    background-color:#774cce;
}

.modula-about-header .about__header-badge {
    background-color:#472d7b;
}

.modula-about-header .about__header-text {
    background-color:#2f1e52;
}

h1.modula-about-heading {
    color: #774cce;
    font-size:40px;
}

.modula-about-row .about__container h2 {
    font-size:25px;
}

ul.modula-about-list {
    padding-left:25px;
    position:relative;
    margin-left:0;
}

.modula-about-list li {
    position:relative;
    list-style-type: none;
    font-size:18px;
}

.modula-about-list li:before {
    font-family:Dashicons;
    display:block;
    position: absolute;
    left:-25px;
}

.modula-about-list li.fix:before {
    content: "\f107";
    color:green;
}

.modula-about-list li.feature:before {
    content: "\f132";
    color:blue;
}

.modula-about-list li.removal:before {
    content: "\f182";
    color:red;
}

