.modula-addons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modula-addon {
	width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

@media screen and (min-width: 1100px) {
	.modula-addons-container {
		margin-right: -20px;
	}
	.modula-addon {
		width: calc( 50% - 20px );
		margin-right: 20px;
	}
}

@media screen and (min-width: 1400px) {
	.modula-addon {
		width: calc( 33% - 20px );
	}
}

.modula-addon .modula-addon-box {
	display: flex;
    padding: 20px 20px 10px;
    text-align: left;
}
.modula-addon .modula-addon-box .modula-addon-content {
	padding-left: 20px;
}
.modula-addon .modula-addon-box img {
	display: block;
	max-width: 128px;
    max-height: 128px;
}
.modula-addon .modula-addon-box h3 {
	margin-top: 0;
	text-align: left;
}
.modula-addon .modula-addon-actions {
    padding: 12px 20px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
}

/* Style Partners */
.modula-partners {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
.modula-partners .modula-partner-box {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 15px 15px 0;
    margin: 15px 0;
    position: relative;
    text-align: center;
    width: 33%;
    margin-right: 3%;
}
.modula-partner-box img {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    border: none;
}
.modula-partner-box__name {
    margin-bottom: 10px;
    padding: 0 26px;
    font-weight: 600;
}
.modula-partner-box__description {
    font-size: 0.875em;
    margin-bottom: 15px;
    font-style: italic;
}
.modula-partner-box__action-bar {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: -15px;
    margin-right: -15px;
}
.modula-partner-box__action-button {
    display: block;
    padding: 9px 10px 10px;
    background: #f6f6f6;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    /*width: 100%;*/
}
.about-wrap {
    margin: 0;
}
.about-wrap h2 {
    margin-top: 25px;
}