.modula-addons-container,
.modula-free-addons-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top:28px;
}

.modula-addons-container.hidden,
.modula-free-addons-container.hidden {
	display : none;
}

.modula-addon {
	width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
	padding-bottom:60px;
	position: relative;
}

@media screen and (min-width: 1100px) {
	.modula-addon {
		width: calc( 50% - 10px );
		margin-right: 10px;
	}
}

@media screen and (min-width: 1400px) {
	.modula-addon {
		width: calc( 25% - 10px );
		border-radius:5px;
	}
}

.modula-addon .modula-addon-box {
	display: block;
    padding: 20px 20px 10px;
    text-align: center;
}
.modula-addon .modula-addon-box img {
	display: block;
	max-width: 50px;
    max-height: 50px;
	margin:0 auto;
}
.modula-addon .modula-addon-box h3 {
	margin-top: 15px;
	text-align: center;
}
.modula-addon .modula-addon-actions,
.modula-addon .modula-free-addon-actions{
    padding: 6px 20px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	bottom: 0;
	position: absolute;
	width: calc(100% - 40px);
	align-items: center;
	height: 30px;
	flex-flow: row-reverse;
}

.modula-addon-info {
	width: calc(100% - 40px);
	padding: 6px 20px;
}

/* Style Partners */
.modula-partners {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
.modula-partners .modula-partner-box {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 15px 15px 0;
    margin: 15px 0;
    position: relative;
    text-align: center;
    width: 33%;
    margin-right: 3%;
}
.modula-partner-box img {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    border: none;
}
.modula-partner-box__name {
    margin-bottom: 10px;
    padding: 0 26px;
    font-weight: 600;
}
.modula-partner-box__description {
    font-size: 0.875em;
    margin-bottom: 15px;
    font-style: italic;
}
.modula-partner-box__action-bar {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: -15px;
    margin-right: -15px;
}
.modula-partner-box__action-button {
    display: block;
    padding: 9px 10px 10px;
    background: #f6f6f6;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    /*width: 100%;*/
}
.about-wrap {
    margin: 0;
}
.about-wrap h2 {
    margin-top: 25px;
}

#modula-reload-extensions {
	top          : 2px;
	position     : relative;
	margin-left  : 25px;
	margin-right : 10px;
}

#modula-reload-extensions.updating-message:before {
	font-size : 16px;
	margin    : 6px 2px 0 2px;
}

#modula-reload-extensions > span {
	vertical-align: middle;
  font-size: 16px;
}

#modula-reload-extensions.updating-message > span {
    display:none;
}

.last-reloaded-extensions {
	position:relative;
	top:5px;
	margin-left: 15px;
	font-style: italic;
	color: rgb(102, 102, 102);
}

.reload-extensions-wrapper {
	float       : right;
}

.modula-addon-info * {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}

.modula-addon-version {
	margin-bottom:15px;
	display:block;
}

/**
Toggles
 */

/* Toggles */
.modula-toggle {
	position    : relative;
	user-select : none;
	display     : inline-block;
}

.modula-toggle__items {
	box-sizing : border-box;
	display    : inline-block;
	position   : relative;
}

.modula-toggle__items > * {
	box-sizing : inherit;
}

.modula-toggle__input[type=checkbox],
body .media-modal-content .attachment-details .modula-toggle__input[type=checkbox] {
	border-radius : 2px;
	border        : 2px solid #6c7781;
	margin-right  : 12px;
	transition    : none;
	height        : 100%;
	left          : 0;
	top           : 0;
	margin        : 0;
	padding       : 0;
	opacity       : 0;
	position      : absolute;
	width         : 100%;
	z-index       : 1;
}

.modula-toggle__track,
body .media-modal-content .attachment-details .modula-toggle__track {
	background-color : #fff;
	border           : 2px solid #6c7781;
	border-radius    : 9px;
	display          : inline-block;
	height           : 18px;
	width            : 36px;
	vertical-align   : top;
	transition       : background .2s ease;
}

.modula-toggle__thumb,
body .media-modal-content .attachment-details .modula-toggle__thumb {
	background-color : #6c7781;
	border           : 5px solid #6c7781;
	border-radius    : 50%;
	display          : block;
	height           : 10px;
	width            : 10px;
	position         : absolute;
	left             : 4px;
	top              : 4px;
	transition       : transform .2s ease;
}

body .media-modal-content .attachment-details .modula-toggle__thumb,
body .media-modal-content .attachment-details .modula-toggle__track {
	min-width  : auto;
	min-height : auto;
	float      : none;
	padding    : 0;
}

.modula-toggle__off {
	position : absolute;
	right    : 6px;
	top      : 6px;
	color    : #6c7781;
	fill     : currentColor;
}

.modula-toggle__on {
	position       : absolute;
	top            : 6px;
	left           : 8px;
	border         : 1px solid #fff;
	outline        : 1px solid transparent;
	outline-offset : -1px;
	display        : none;
}

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__track {
	background-color : #11a0d2;
	border           : 9px solid transparent;
}

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__thumb {
	background-color : #fff;
	border-width     : 0;
	transform        : translateX(18px);
}

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__off {
	display : none;
}

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__on {
	display : inline-block;
}

/**
End Toggles
 */