.post-type-modula-gallery .wrap h1.wp-heading-inline,
.post-type-modula-gallery .wrap > .page-title-action {
	display: none;
}
.post-type-modula-gallery .wrap .nav-tab-wrapper .page-title-action {
	top: 7px;
}

/* Copy Shortcode */
.modula-copy-shortcode {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.modula-copy-shortcode input {
    margin:0;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	flex-grow:1;
	width:calc(100% - 60px);
}
.modula-copy-shortcode span {
	width: 100%;
}
.wp-core-ui .modula-copy-shortcode a.button-primary {
	height: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.column-shortcode .modula-copy-shortcode {
	max-width: 300px;
}

tbody#the-list .no-items {
	text-align:center;
}
