.post-type-modula-gallery:not( .single-modula-gallery ) .wrap h1.wp-heading-inline,
.post-type-modula-gallery:not( .single-modula-gallery ) .wrap > .page-title-action {
	display: none;
}
.post-type-modula-gallery .wrap .nav-tab-wrapper .page-title-action {
	top: 7px;
}

/* Copy Shortcode */
.modula-copy-shortcode {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.modula-copy-shortcode input {
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	flex-grow: 1;
	width: calc(100% - 60px);
}
.modula-copy-shortcode span {
	width: 100%;
}
.wp-core-ui .modula-copy-shortcode a.button-primary {
	height: 30px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.column-shortcode .modula-copy-shortcode {
	max-width: 300px;
}

tbody#the-list .no-items {
	text-align: center;
}

@keyframes modula-modal__fade-in-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes modula-modal__appear-animation {
	from {
		margin-top: 32px;
	}
	to {
		margin-top: 0;
	}
}

.modula-modal__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 100000;
	animation: modula-modal__fade-in-animation 0.2s ease-out 0s;
	animation-fill-mode: forwards;
}

.modula-modal__frame {
	position: relative;
	box-sizing: border-box;
	background: #fff;
	width: 450px;
	max-height: 90vh;
	overflow: auto;
	animation: modula-modal__appear-animation 0.1s ease-out;
	animation-fill-mode: forwards;
	box-shadow: 0 3px 30px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 800px) {
	.modula-modal__frame {
		width: auto;
		margin: 20px;
	}
}

.modula-modal__header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

.modula-modal__dismiss {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-flex;
	justify-content: center;
	height: 36px;
	min-width: 36px;
	margin: 8px;
	padding: 6px;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	transition: box-shadow 0.1s linear;
	border-radius: 2px;
}

.modula-modal__dismiss:focus {
	box-shadow: 0 0 0 2px #007cba;
	outline: 3px solid transparent;
}

.modula-modal__dismiss:hover svg {
	fill: #2271b1;
}

.modula-modal__body {
	padding: 40px 25px 40px;
}

@media screen and (max-width: 800px) {
	.modula-modal__body {
		padding: 30px 30px 40px;
	}
}


.modula-upsells-carousel-wrapper-modal{
    position: relative;
    display:flex;
}

.modula-upsells-carousel-modal {
    /*animation: carousel 20s infinite;*/
    flex-shrink: 0;
    position: relative;
   /* display:flex;*/
    display:block;
    width:100%;
}

.modula-upsells-carousel-modal  .modula-upsell-item-modal {
    position: relative;
    width:100%;
    flex-shrink: 0;
    margin-top:0;

}

.modula-upsells-carousel-modal  .modula-upsell-item-modal {
    text-align: center;
}

.modula-upsells-carousel-modal  .modula-upsell-item-modal  ul.modula-upsells-list-modal {
    padding-left:40px;
}

.modula-upsells-carousel-modal  .modula-upsell-item-modal ul li {
    position: relative;
    list-style-type: none !important;
    text-align:left;
}

#modula-albums-upsell-modal .modula-upsells-carousel-modal  .modula-upsell-item-modal ul li {
    display: inline-block;
    margin: 0px 15px 15px 35px;
}

.modula-upsells-carousel-modal  .modula-upsell-item-modal ul li:before {
    font-family: Dashicons;
    content: "\f147";
    position: absolute;
    left: -30px;
    font-size: 14px;
    color: green;
    background-color: #FFF;
    padding: 0 3px;
    border-radius: 50%;
    border: 1px solid #DDD;
    top: -1px;
}


.modula-upsell-modal ul.modula-upsell-features li span.modula-check {
    display: inline-block;
    color: green;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #DDD;
    display: inline-block;
    margin-right: 5px;
}
.modula-upsell-modal {
	border: 0;
	padding: 15px 0;
}


.modula-upsell-modal .button:first-child {
    margin-right: 10px;
}

.modula-upsell-modal .button {
    height: 31px;
    line-height: 31px;
    font-weight: bold;
}