@font-face {
	font-family: 'DM Sans';
	src: url('../../font/dm/DMSans-Regular.ttf');
}

/* Settings Metabox */
#modula-settings .inside {
	padding: 0;
	margin: 0;
}
.modula-settings-container {
	display: flex;
}

/* Settings Tabs */
.modula-settings-container .modula-tabs {
	background-color: #f8f8f8;
}
.modula-settings-container .modula-tabs .modula-tab {
	margin: 0 10px 0 0;
    padding: 15px 0;
    color: #9c9c9c;
    cursor: pointer;
    position: relative;
    min-width: 190px;
    position: relative;
}
.modula-settings-container .modula-tabs .modula-tab sup {
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  background: #9c9c9c;
  display: inline-block;
  line-height: 1;
  position: relative;
  /* top: -2px; */
  float: right;
  top: 4px;
}
.modula-settings-container .modula-tabs .modula-tab:hover sup,
.modula-settings-container .modula-tabs .modula-tab.active-tab sup {
  background-color: #57a7c9;
}
.modula-settings-container .modula-tabs .modula-tab.modula-responsive:hover sup,
.modula-settings-container .modula-tabs .modula-tab.modula-responsive.active-tab sup {
  background:#dc3232;
}
.modula-settings-container .modula-tabs .modula-tab > i {
	margin-right: 10px;
	margin-left: 15px;
}
.modula-settings-container .modula-tabs .modula-tab:after {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	background-color: transparent;
	top: 0;
	right: -1px;
}
.modula-settings-container .modula-tabs .modula-tab.active-tab:first-child {
	border-top: none;
}
.modula-settings-container .modula-tabs .modula-tab:hover {
	color: #333333;
}
.modula-settings-container .modula-tabs .modula-tab.active-tab {
	margin: 0;
    padding: 15px 10px 15px 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333333;
    /*box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.43) inset;*/
}
.modula-settings-container .modula-tabs .modula-tab.active-tab:not(:last-child){
	border-bottom: 1px solid #ddd;
}
.modula-settings-container .modula-tabs .modula-tab.active-tab:before {
	content: "";
	position: absolute;
	left: -2px;
	top: -1px;
	width: 3px;
	height: calc( 100% + 2px);
	background-color: #57a7c9;
}
.modula-settings-container .modula-tabs .modula-tab.active-tab:after {
	background-color: #fff;
}

tr label.th-label {
	color: #23282d;
	font-weight: 600;
	margin-bottom: 10px;
	/*display: block;*/
}


/* Tab Content */
.postbox .modula-settings-container table.form-table {
	margin: 0;
}
/*.postbox .modula-settings-container .form-table-wrapper {
	padding: 0 0 0 20px;
	box-sizing: border-box;
}*/
.modula-settings-container .modula-tabs-content {
	padding: 0;
	border-left: 1px solid #ccd0d4;
	flex-grow: 1;
}
.modula-tabs-content > div:not( .active-tab ) {
	display: none;
}
.modula-settings-container .modula-tabs-content .tab-content-header {
	width: 100%;
	padding: 15px 20px 15px 20px;
	border-bottom: 1px solid #ccd0d4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modula-settings-container .modula-tabs-content .tab-content-header .tab-content-header-actions {
  display: flex;
  align-items: center;
}
.modula-settings-container .modula-tabs-content .tab-content-header .tab-content-header-actions > span {
  margin: 0 10px;
  font-style: italic;
}
.modula-settings-container .modula-tabs-content .tab-content-header .tab-content-header-actions a.button > span {
  height: auto;
  line-height: 26px;
  margin-right: 10px;
}
#poststuff .modula-settings-container .modula-tabs-content .tab-content-header .tab-content-header-title > h2 {
    font-weight: 700;
    padding: 0;
    display: inline-block;
	line-height:20px;
}

#poststuff .modula-settings-container .modula-tabs-content .tab-content-header .tab-header-description p {
  margin: 0;
}

.modula-settings-container .form-table td p.description {
	font-size: 13px;
}

.modula-settings-container .modula-tabs-content .form-table tr {
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
/*.modula-settings-container .modula-tabs-content .form-table tr:nth-of-type(even) {
	background-color: #FAFAFA;
}*/
.modula-settings-container .modula-tabs-content .form-table tr:first-of-type {border-top: none;}
.modula-settings-container .modula-tabs-content .form-table tr:last-of-type {border-bottom: none;}
.modula-settings-container .modula-tabs-content .form-table th {padding: 20px;width:200px;min-width:200px;}
.modula-settings-container .modula-tabs-content .form-table th.child_setting {
	padding-left:40px;
	width:220px;
	min-width:220px;
}

.modula-settings-container .modula-tabs-content .form-table textarea:not(#modula-style-customcode) {
	max-width:230px;
}

textarea#modula-style-customcode {
	resize : none;
	height : calc(100vh - 100px);
}

.modula-settings-container .modula-tabs-content .form-table th.two_child_setting {
	padding-left:60px;
	display:inline-block;
	width:200px;
}

.modula-settings-container .modula-tabs-content .form-table th.three_child_setting {
	padding-left:80px;
	display:inline-block;
	width:180px;
	min-width:180px;
}
/* Fields */

.modula-placeholders {
    display: flex;
    flex-wrap: wrap;
}
.modula-placeholder-value {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 12px;
    border: 1px solid grey;
    padding: 3px 4px;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    margin-right: 3px;
    width: 115px;

}

/* UI Slider */
.modula-settings-container .slider-container {
	position: relative;
	height: 2px;
	padding: 10px 0;
	width: 230px;
	box-sizing: border-box;
	/*margin-bottom: 10px;*/
	display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modula-settings-container .slider-container input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0 30px 0 0;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.16);
    width: 40px;
    height: 22px;
    min-width:auto;
}
.modula-settings-container .slider-container .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    display: block;
    width: 100%;
    background: #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modula-settings-container .slider-container .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	top: -10px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: solid 1px #d7d7d7;
	transform: translateX(-50%);
}
.modula-settings-container .slider-container .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: 0.7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background: #57a7c9;
	top: 0;
	bottom: 0;
}

.modula-settings-container select,
.modula-settings-container  input:not([type="select-one"]):not([type="button"]):not([contenteditable="true"]),
.modula-settings-container  select{
	max-width:230px;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
	max-width:230px;
}

/* Hover Effects */
.modula-effects-preview {
	margin-top: 20px;
}
.modula-effects-preview .modula-item {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.modula-effects-preview .modula-item img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
.modula-effects-preview .modula-item .figc {
	display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
.modula-effects-preview .modula-item .figc .jtg-title {
    font-size: 21px !important;
    color: #fff;
}
.modula-effects-preview .modula-item .figc p {
    color: #fff;
    font-size: 15px;
    font-style: normal;
}

.modula .modula-items .modula-item .jtg-title {
	margin:0;
}
.modula .modula-items .modula-item p {
	margin:0;
	padding: 0;
}
.modula .figc {
	color: black;
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	padding:2em;
}

.modula .modula-item .jtg-social a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin:0 10px 0 0;
	width: 20px;
	padding: 6px 4px;
	border: 0;
	opacity: 0;
	transition: opacity .3s;
}
.modula .modula-item .jtg-social svg {
    width: 20px;
    height: 16px;
}
.modula .modula-item:hover .jtg-social a {
	opacity: 1;
}

/*---------------*/
/***** pufrobo *****/
/*---------------*/

.modula .modula-items .jtg-social {
	opacity: 0;
	transition: opacity 0.1s;
	right:30px;
	position: absolute;
	bottom:20px;
	text-align: right;
	transition:all .3s;
}

html body .modula.modula-gallery .modula-items .jtg-social {
	opacity: 1;
}

.modula .modula-items .jtg-social a:last-of-type {
	margin-right: 0;
}

.modula .modula-item.effect-pufrobo p.description {
	margin-bottom: 2em;
}

.modula .modula-item.effect-pufrobo .figc {
	text-align: right;
}

.modula .modula-item.effect-pufrobo .jtg-title,
.modula .modula-item.effect-pufrobo p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

.modula .modula-item:hover img { opacity: .8 }

.modula .modula-item { background-color:#000; }

.modula .modula-item.effect-pufrobo p {
	bottom: 20%;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	letter-spacing: 1px;
}

.modula .modula-item.effect-pufrobo .jtg-title {
	/*top: 30px;*/
	top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.modula .modula-item.effect-pufrobo:hover .jtg-title {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.modula .modula-item.effect-pufrobo .jtg-title::after {
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.modula .modula-item.effect-pufrobo .jtg-title::after,
.modula .modula-item.effect-pufrobo p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.modula .modula-item.effect-pufrobo:hover .jtg-title::after,
.modula .modula-item.effect-pufrobo:hover p {
	margin-top: 10px;
	margin-bottom: 5px;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.single-modula-gallery.post-type-modula-gallery.modula-no-drag #poststuff .postbox .handle-actions {
  display:none;
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-item.effect-sadie .jtg-title {
	color:#fff;
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-item.effect-zoe .jtg-title,
html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-item.effect-zoe .jtg-social a {
	color:#000;
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-preview-badge + .modula-item.effect-dexter .figc::after {
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-item.effect-milo:hover .description {
	opacity:1;
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula.modula-gallery .modula-items .modula-preview-badge + .modula-item.effect-dexter .figc:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

tr[data-container="effect"] > td {
	padding:15px 20px;
}

.modula-effects-preview .modula-item.effect-dexter .figc,
.modula-effects-preview,
.modula-effects-preview p {
	box-sizing : border-box;
}

.modula-effects-preview .modula-item.effect-chico .figc,
.modula-effects-preview .modula-item.effect-roxy .figc,
.modula-effects-preview .modula-item.effect-layla .figc,
.modula-effects-preview .modula-item.effect-oscar .figc,
#poststuff .modula-effects-preview .modula-item .figc .jtg-title {
	padding : 0;
}

#poststuff .modula .modula-item.effect-reflex .figc-inner .jtg-title {
	padding-left : 10px;
}

#poststuff .modula .modula-items .modula-item.effect-comodo .jtg-title {
	margin-top : 20px;
}

#poststuff .modula .modula-item.effect-appear .jtg-title,
#poststuff .modula .modula-item.effect-honey .jtg-title {
	padding : 1em 1.5em;
}

#poststuff .modula .modula-item.effect-milo .jtg-title {
	padding : 1em 1.2em;
}

.modula .modula-items .modula-item.effect-julia p {
	margin  : 0 0 0.25em;
	padding : 0.4em 1em;
}

#poststuff .modula .modula-item.effect-terry .jtg-title {
	padding : 0.4em 15px;
}

.modula .modula-items .modula-item.effect-apollo p {
	margin  : 3em;
	padding : 0 1em;
}

#poststuff .modula .modula-items .modula-item.effect-steve .jtg-title {
	margin-top : 2em;
	padding    : 0.25em;
	color      : #000;
}

.modula .modula-items .modula-item.effect-steve p {
	margin-top : 1em;
	padding    : 0.5em;
	color      : #000;
}

.modula-effects-preview .modula-item.effect-under img {
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
}

/* Upsells */
.modula-upsell {
    background: #f1f1f1;
    /* border: 1px solid #a8d69c;*/
    border: 0;
    padding: 15px;
    margin-top: 30px;
}

.modula-settings-container .modula-upsell {
	margin:30px;
}

.modula-upsell .modula-upsell-features {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.modula-upsell .modula-upsell-features li {
  width: 33%;
}
#modula-exif .modula-upsell .modula-upsell-features li,
#modula-zoom .modula-upsell .modula-upsell-features li {
  width: 50%;
}

/* We're handling the upsells inside metaboxes slightly different */
.form-table-wrapper .modula-upsell {
    border: 1px solid #DDD;
    text-align: center;
}

#poststuff .modula-upsell h2 {
    font-weight: 700;
    background: #fff;
    left: -15px;
    top: -15px;
    padding: 8px 12px;
    position: relative;
    width: calc(100% + 6px);
    border-bottom: 1px solid #DDD
}
.modula-upsell p {
	margin: 0;
}
.modula-upsell p.modula-upsell-description {
	font-size: 13px;
    line-height: 1.5;
	color: #333333;
	opacity: .8;
	margin-top: 0;
	margin-bottom: 10px;
    padding:0px 10px;
}
.modula-upsell .button {
    height: 31px;
    line-height: 31px;
    font-weight: bold;
}
.modula-upsell .button:first-child {
	margin-right: 10px;
}

.modula-upsell .action-link,
.modula-upsell .action-link:hover {
	background: #51AD31;
    border-color: #51AD31;
    color: #fff;
    font-weight: bold;
}

/* Modula Gallery upload */
#modula-uploader-container {
    /*min-height: 300px;*/
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
#modula-uploader-container.modula-resizer-enabled {
	/*padding-left: 20px;*/
	margin-bottom: 20px;
}
.modula-upload-actions {
    padding: 15px 20px;
    background-color: #f8fcfd;
    border-bottom: 1px solid #ecf6f9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.modula-upload-actions .buttons {
    flex-shrink: 0;
    width: auto;
    display: flex;
}
.modula-sources-dropdown {
  position: relative;
  border-top: 1px solid rgba( 255,255,255,0 );
    border-right: 1px solid rgba( 255,255,255,0 );
    border-left: 1px solid rgba( 255,255,255,0 );
}
.modula-sources-dropdown:hover {
  border-color: #ddd;
  background: #f5f5f5;
}
.modula-sources-dropdown > span {
  width: 28px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.modula-sources-dropdown .modula-sources-dropdown-content {
  position: absolute;
  right: -1px;
  bottom: 0;
  transform: translateY( 100% );
  display: none;
  padding: 15px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.modula-sources-dropdown:hover .modula-sources-dropdown-content {
  display: block;
}
.modula-sources-dropdown:hover .modula-sources-dropdown-content:before {
  content: "";
  height: 1px;
  width: 28px;
  background-color: #f5f5f5;
  position: absolute;
  top: -1px;
  right: 0;
}
.segrip.ui-resizable-se {
	width: 30px;
	height: 30px;
	background: url('../../images/resize-se.svg') no-repeat;
  background-size: contain;
	display: none;
  z-index: 100;
  opacity: 1;
}
.modula-resizer-enabled .segrip.ui-resizable-se {
	display: block;
}
.modula-upload-actions #modula-uploader-browser {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.modula-upload-actions #modula-wp-gallery {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.wp-core-ui .modula-upload-actions > a {
  margin: 0 5px;
}
#modula-dropzone-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,86,132,.9);
    z-index: 250000;
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 250ms;
}
#modula-dropzone-container .modula-uploader-window-content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px dashed #fff;
}
#poststuff #modula-dropzone-container .modula-uploader-window-content h1 {
    margin: -.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    padding: 0;
}
.modula-uploader-inline-content {
  position: relative;
  min-height: 300px;
  width: 100%;
}
.modula-resizer-enabled .modula-uploader-inline-content {
  min-height: initial;
}
.modula-uploader-inline-content h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
#poststuff .modula-upload-message {
    font-size: 43px;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    display: none;
    color: #ebebeb;
}
#poststuff .modula-upload-message .dashicons,
#poststuff .modula-upload-message .dashicons-before:before{
  font-size: 43px;
  width: 43px;
  height: 43px;
}
.modula-uploader-inline p {
    font-size: 12px;
    margin: .5em 0;
}
#poststuff .modula-uploader-inline .modula-upload-instructions {
    font-size: 14px;
    color: #444;
    font-weight: 400;
    padding: 0;
}
.modula-uploader-footer .max-upload-size {
  float: left;
}
.modula-uploader-footer .modula-upload-numbers {
  float: right;
  opacity: 0;
}
.modula-uploader-footer:after {
  display: block;
  content: "";
  clear: both;
}
.upload-progress .modula-upload-numbers {
  margin: 0;
  line-height: 1.4em;
}
.modula-progress-bar {
    width: 100%;
    max-width: 400px;
    position: relative;
    height: 2px;
    margin: 8px 0 0;
    border-radius: 10px;
    background: #e5e5e5;
}
.upload-info-container {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.upload-info-container .upload-info {
  padding: 5px 0;
}
.upload-info-container .upload-progress {
    position: absolute;
    background-color: #f8fcfd;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    transition: transform 0.5s;
    transform: translateY( 100% );
}

.modula-upload-actions.show-progress .upload-info-container .upload-progress {
  transform: translateY( 0 );
}

.modula-progress-bar .modula-progress-bar-inner {
  height: 2px;
  min-width: 20px;
  width: 0px;
  background: #0085ba;
  -webkit-transition: width 300ms;
  -moz-transition: width 300ms;
  -ms-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
  border-radius: 5px;
}
.modula-uploader-footer.show-progress .modula-upload-numbers,
.modula-uploader-footer.show-progress .modula-progress-bar {
  opacity: 1;
}

.modula-uploader-inline-content .modula-single-image,
.modula-uploader-inline-content .modula-single-image-placeholder {
    cursor: move;
    display: inline-block;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    width: 16.66%;
}
.modula-uploader-inline-content .modula-single-image-placeholder:after {
  width: 100%;
  height: 100%;
  display: inline-block;
  content: "";
  position: relative;
  border: 3px dashed #444;
  padding-top: calc( 100% - 6px );
  box-sizing: border-box;
}
.modula-uploader-inline-content .modula-single-image .modula-single-image-content {
    position: relative;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}
.modula-uploader-inline-content .modula-single-image .modula-single-image-content img {
  display: block;
  width: 100%;
}
#poststuff .modula-uploader-inline-content > .modula-upload-message:only-child {
  display: block;
}
.modula-uploader-inline-content .modula-single-image .actions {
    position: absolute;
    z-index: 99;
    font-size: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba( 0,0,0,.4 );
    padding: 5px;
    box-sizing: border-box;
    display: none;
}
.modula-uploader-inline-content .modula-single-image:hover .actions {
  display: block;
}
.modula-uploader-inline-content .modula-single-image .actions a {
  	/*text-decoration: none;
  	color: #fff;
  	display: inline-block;
  	padding: 5px;
  	display: inline-block;

  	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	background: #0085ba;
	border: 1px solid #006799;
	border-bottom-width: 2px;*/

  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: rgba( 255,255,255,.8 );
  color: #000;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  margin-bottom: 5px;

  /*float: right;
  clear: both;*/


}
.modula-uploader-inline-content .modula-single-image .actions a:hover {
  background-color: #000;
  color: #fff;
}
/*.modula-uploader-inline-content .modula-single-image .actions a:first-child {
	border-top-left-radius: 5px;
}
.modula-uploader-inline-content .modula-single-image .actions a:last-child {
	border-left-width: 0;
	border-top-right-radius: 5px;
}*/
.modula-uploader-inline-content .modula-single-image .actions a span {
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.modula-uploader-inline-content .modula-single-image .actions a.modula-delete-image {
  color: #a00a00;
}
.modula-uploader-inline-content .modula-single-image .actions a.modula-delete-image:hover {
  background-color: #a00a00;
  color: #fff;
}
.modula-uploader-inline-content:after {
    content: "";
    display: block;
    clear: both;
}

/* Modula Popup */
.media-modal .modula-edit-popup.edit-attachment-frame .edit-media-header button.right {
    border-right: 1px solid #ddd;
}
.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
}
.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting span.name {
    display: block;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
}
.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting input[type="text"],
.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    margin: 0;
}
.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting div.description {
    clear: both;
    float: left;
    margin: 5px 0 0 0;
    text-align: left;
    font-size: 13px;
    font-style: italic;
    color: #666;
}

.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting.modula-link input[name="link"] {
    padding:10px 40px 10px 5px;
}

.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting.modula-link input[name="link"].ui-autocomplete-loading {
    background-position: calc(100% - 40px) center;
}

.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting.modula-link label {
    position: relative;
}

.media-modal .modula-edit-popup .attachment-details .attachment-info .settings .setting.modula-link span.dashicons {
    position: absolute;
    right: 15px;
    margin-top: 35px;
    font-size: 16px;
    line-height: 0px;
}

.media-modal .modula-edit-popup .attachment-details .attachment-info .settings {
    margin: 0;
    padding: 0;
    border: none;
}
.media-modal .attachment-info .actions a {
  display: inline-block;
}
.inline-input {
  display: inline;
}

/* Resizeble & Draggble */
.ui-draggable.ui-resizable > .segrip {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
}
.ui-draggable.ui-resizable .modula-single-image-content img {
  display: none;
}
.ui-draggable.ui-resizable .modula-single-image-content {
  width: 100%;
  height: 100%;
}

.ui-draggable.ui-resizable.modula-single-image {
  padding: 0;
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.ui-resizable-helper {
  border: 3px dashed #444;
  box-sizing: border-box;
}

/* New Design by Gabi */
#poststuff #modula-preview-gallery h2.hndle,
#poststuff #modula-settings h2.hndle {
  padding-left: 20px;
}

#poststuff #modula-preview-gallery .inside {
  margin-top: 0;
  padding: 0;
}

/* Modula Popup */
.modula-edit-popup .attachment-details .setting span.description > span {
    display: inline-block;
    float: none;
    width: auto;
    min-width: unset;
    line-height: 16px;
    min-height: 16px;
    margin-top: 8px;
    padding: 0;
    vertical-align: middle;
    margin-right: 0;
}
.modula-edit-popup .attachment-details .setting span.description {
  text-align: left;
    vertical-align: middle;
}

.modula-media-modal .attachments-browser .media-toolbar .media-toolbar-secondary {
	width: 100%;
}

.modula-media-modal .attachments-browser .media-toolbar .media-toolbar-secondary .modula-error-container {
	margin-top:25px;
}

/* Modula Error */
.modula-error-container {
  display: block;
}
.modula-error-container.hide {
  display: none;
}
.modula-error-container .modula-error {
    padding: 12px;
    margin-bottom: 12px;
    background: #fff;
    border-left: 4px solid #dc3232;
    box-shadow: 0px 0px 4px 0 rgba(0,0,0,.1);
    font-weight: 600;
    margin-top: 5px;
    position: relative;
    background-color: #dc3232;
    color: #fff;
}
.modula-error-container .modula-error a {
  color: #fff;
}
.modula-error-container .modula-error .upload-dismiss-errors {
    position: absolute;
    top: 50%;
    right: -5px;
    padding: 10px;
    transition: none;
    display: block;
    text-decoration: none;
    margin-top: -18px;
}
.modula-error-container .modula-error .upload-dismiss-errors:before {
  content: "\f153";
  display: block;
  font: 400 16px/1 dashicons;
  color: #fff;
}

a.modula-tab-link {
    text-decoration: none;
}
.modula-tab-link span.dashicons {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 3px;
    vertical-align: text-bottom;
    font-size: 16px;
    text-decoration: none;
}

/*#normal-sortables {
  display: none;
}*/

/* Modula Grid */
#modula-grid {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}
#modula-grid .modula-grid-item {
  background-color: #FAFAFA;
  float: left;
}
#modula-grid .modula-grid-item:nth-child( 12n ){
  margin-right: 0 !important;
}
#modula-grid:after {
  content: "";
  display: block;
  clear: both;
}

.modula-shortcuts {
    padding:10px;
    color: #696969;
    background:#f5efe0;
    font-size:11px;
}

.modula-shortcuts strong {
    color:#000;
}

/* Tabs tooltips */
.modula-tooltip {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.modula-tooltip > span {
  cursor: pointer;
  color: #0073aa;
  text-decoration: underline;
  margin-left: 5px;
}

.modula-tooltip .modula-tooltip-content {
  display: none;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate( 100% ,-50% );
  width: 300px;
  background: #000;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  z-index: 99;
}

.modula-tooltip .modula-tooltip-content:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #000 transparent transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY( -50% );
}

.modula-tooltip:hover .modula-tooltip-content {
  display: block;
}


/* Modula Helper Grid */
.modula-helper-guidelines-container {
	padding: 15px 20px;
	background-color: #f8fcfd;
	display: flex;
	align-items: center;
	border-top: 1px solid #ecf6f9;
	z-index: 999;
	position: relative;
}
.modula-helper-guidelines-container .onoffswitch {
  margin-top: 0;
}
.modula-helper-guidelines-wrapper .modula-helper-guidelines-label {
  margin-left: 5px;
}

.modula-helper-guidelines-container.modula-guidelines-display {
  display: none;
}

/* Creative Grid */
.modula-creative-gallery.modula-uploader-inline-content .modula-single-image .modula-single-image-content {
  background: #eee !important;
  position: relative;
  overflow: hidden;
}
.modula-creative-gallery.modula-uploader-inline-content .modula-single-image-content:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.modula-creative-gallery.modula-uploader-inline-content .modula-single-image-content img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.modula-creative-gallery.modula-uploader-inline-content .modula-single-image-content.landscape img {
  max-height: 100%;
}
.modula-creative-gallery.modula-uploader-inline-content .modula-single-image-content.portrait img {
  max-width: 100%;
}

/* Toggles */
.modula-toggle {
    position: relative;
    position: relative;
    user-select: none;
    display: inline-block;
}

.modula-toggle__items {
  box-sizing: border-box;
  display: inline-block;
    position: relative;
}
.modula-toggle__items > * {
  box-sizing: inherit;
}

.modula-toggle__input[type=checkbox],
body .media-modal-content .attachment-details .modula-toggle__input[type=checkbox] {
  border-radius: 2px;
  border: 2px solid #6c7781;
  margin-right: 12px;
  transition: none;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1; }

.modula-toggle__track,
body .media-modal-content .attachment-details .modula-toggle__track {
  background-color: #fff;
  border: 2px solid #6c7781;
  border-radius: 9px;
  display: inline-block;
  height: 18px;
  width: 36px;
  vertical-align: top;
  transition: background .2s ease; }

.modula-toggle__thumb,
body .media-modal-content .attachment-details .modula-toggle__thumb {
  background-color: #6c7781;
  border: 5px solid #6c7781;
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: transform .2s ease; }

body .media-modal-content .attachment-details .modula-toggle__thumb,
body .media-modal-content .attachment-details .modula-toggle__track {
	min-width:auto;
	min-height:auto;
	float:none;
	padding:0;
}

.modula-toggle__off {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #6c7781;
  fill: currentColor; }

.modula-toggle__on {
  position: absolute;
  top: 6px;
  left: 8px;
  border: 1px solid #fff;
  outline: 1px solid transparent;
  outline-offset: -1px;
  display: none; }

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__track {
  background-color: #11a0d2;
  border: 9px solid transparent; }

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__thumb {
  background-color: #fff;
  border-width: 0;
  transform: translateX(18px); }

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__off {
  display: none; }

.modula-toggle__input[type=checkbox]:checked + .modula-toggle__items .modula-toggle__on {
  display: inline-block; }

p.description.alert {
    color:#ff0000;
}

tr.troubleshoot-subfield.hide {
    display:none;
}

/* Copy Shortcode */
.modula-copy-shortcode {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modula-copy-shortcode input {
    margin:0;
    border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow:1;
}

.modula-copy-shortcode span {
  width: 100%;
}

.wp-core-ui .modula-copy-shortcode a.button-primary {
  height: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

/*
Ups-sells carousel
@since 2.2.4
*/

@keyframes carousel {
    0% {
        transform: translateX(0px);
        opacity: 1 !important;
    }
    50% {
        transform: translateX(0px);
        opacity: 1 !important;
    }
    51% {
        transform: translateX(-100%);
        opacity: 1 !important;
    }
    99% {
        transform: translateX(-100%);
        opacity: 1 !important;
    }
    100% {
        transform: translateX(-200%);
        opacity: 1 !important;
    }
}

.modula-upsells-carousel-wrapper{
    position: relative;
    display:flex;
    overflow:hidden;
}

.modula-upsells-carousel {
    /*animation: carousel 20s infinite;*/
    flex-shrink: 0;
    position: relative;
   /* display:flex;*/
    display:block;
    width:100%;
}

.modula-upsells-carousel  .modula-upsell-item {
    position: relative;
    width:100%;
    flex-shrink: 0;
    margin-top:0;
    left:-15px;
}

.modula-upsells-carousel  .modula-upsell-item {
    text-align: center;
}

.modula-upsells-carousel  .modula-upsell-item  ul.modula-upsells-list {
    padding-left:40px;
}

.modula-upsells-carousel  .modula-upsell-item ul li {
    position: relative;
    list-style-type: none !important;
    text-align:left;
}

#modula-albums-upsell .modula-upsells-carousel  .modula-upsell-item ul li {
    display: inline-block;
    margin: 0px 15px 15px 35px;
}

.modula-upsells-carousel  .modula-upsell-item ul li:before {
    font-family: Dashicons;
    content: "\f147";
    position: absolute;
    left: -30px;
    font-size: 14px;
    color: green;
    background-color: #FFF;
    padding: 0 3px;
    border-radius: 50%;
    border: 1px solid #DDD;
    top: -1px;
}
.modula-upsell ul.modula-upsell-features li span.modula-check {
    display: inline-block;
    color: green;
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid #DDD;
    display: inline-block;
    margin-right: 5px;
}
#modula-sorting-upsell > h2.hndle.ui-sortable-handle,
#modula-sorting-upsell > button.handlediv,
#modula-albums-upsell > h2.hndle.ui-sortable-handle,
#modula-albums-upsell > button.handlediv {
    display:none;
}

#modula-defaults-upsell p:not(:last-child) {
	text-align:left;
}

#modula-sorting-upsell > .inside,
#modula-albums-upsell > .inside,
#modula-defaults-upsell > .inside,
#modula-debug > .inside{
	padding: 0;
	margin: 0 auto;
}

	/* Editor theme*/
/*
    Name:       dracula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)
    Original dracula color scheme by Zeno Rocha (https://github.com/zenorocha/dracula-theme)
*/
.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    border: none;
}
.cm-s-dracula .CodeMirror-gutters { color: #282a36; }
.cm-s-dracula .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-dracula .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-dracula .CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::selection, .cm-s-dracula .CodeMirror-line > span::selection, .cm-s-dracula .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::-moz-selection, .cm-s-dracula .CodeMirror-line > span::-moz-selection, .cm-s-dracula .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula span.cm-comment { color: #6272a4; }
.cm-s-dracula span.cm-string, .cm-s-dracula span.cm-string-2 { color: #f1fa8c; }
.cm-s-dracula span.cm-number { color: #bd93f9; }
.cm-s-dracula span.cm-variable { color: #50fa7b; }
.cm-s-dracula span.cm-variable-2 { color: white; }
.cm-s-dracula span.cm-def { color: #50fa7b; }
.cm-s-dracula span.cm-operator { color: #ff79c6; }
.cm-s-dracula span.cm-keyword { color: #ff79c6; }
.cm-s-dracula span.cm-atom { color: #bd93f9; }
.cm-s-dracula span.cm-meta { color: #f8f8f2; }
.cm-s-dracula span.cm-tag { color: #ff79c6; }
.cm-s-dracula span.cm-attribute { color: #50fa7b; }
.cm-s-dracula span.cm-qualifier { color: #50fa7b; }
.cm-s-dracula span.cm-property { color: #66d9ef; }
.cm-s-dracula span.cm-builtin { color: #50fa7b; }
.cm-s-dracula span.cm-variable-3, .cm-s-dracula span.cm-type { color: #ffb86c; }

.cm-s-dracula .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-dracula .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

#modula_troubleshooting_option .modula-select label {
  margin-right: 10px;
}
#modula_troubleshooting_option .modula-select label:last-child {
  margin-right: 0;
}

#modula_troubleshooting_option td > .wrap.modula {
	margin:0 auto;
}

#modula_troubleshooting_option td > .wrap.modula .modula-toggle {
	margin-top:0;
}

#modula_troubleshooting_option h2 {
	margin : 0;
}

#modula-albums-upsell h2 {
    margin: 0 !important;
}

.modula-settings-container input[type="number"] {
    max-width: 80px;
}

.modula-after-input {
    margin-left: 5px;
}


/**
Scaling Effect Preview
 */
.modula-scaling-effect-preview {
    position: relative;
    max-width:900px;
    width:100%;
    margin:0 auto;
    margin-top:20px;
}

.modula-scaling-effect-preview .modula-item {
    transition:600ms all;
    z-index:9999;
    float:left;
    margin:10px;
}

.modula-scaling-effect-preview a#test-scaling-preview {
    margin-top:25px;
    margin-left:10px;
}

/* Modula Shortcode Box  */

#modula-shortcode .modula-copy-shortcode {
  margin: 10px auto;
}

#modula-shortcode .inside {
  padding: 0 12px 2.5px!important;
}

.shortcode-description {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #DDD;
  color: #696969;
  padding-bottom: 10px;
}

.modula-imagesize-info span {
	font-weight:bold;
}

.modula-settings-container .selectize-dropdown {
	cursor:pointer;
}

.modula-settings-container .lightbox-announcement {
	position: relative;
	padding:30px;
}

.modula-settings-container .lightbox-announcement a.notice-dismiss {
	text-decoration: none;
}

/* Autocomplete z-index fix */

.ui-autocomplete {
  z-index: 160000;
  background: white;
  font-family: inherit;
}

.modula-autocomplete-results {
  padding: 5px;
}
.modula-autocomplete-results p {
  margin-left: 8px;
  margin-bottom: 0px;
  font-size: 14px;
}

.modula-autocomplete-results span {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

.modula-autocomplete-results code {
    padding:10px 20px;
}

.ui-autocomplete .ui-menu-item {
  border-bottom: 1px solid #555;
}

.modula-colorpickers .iris-border .iris-picker-inner {
	right:0;
}

html body .modula-tabs-content .modula-colorpickers .iris-palette-container a {
	display:none;
}

html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:first-child,
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(2),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(3),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(4),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(5),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(6),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(7),
html body .modula-tabs-content .modula-colorpickers .iris-palette-container a:nth-child(8){
	display:block;
}

.post-type-modula-gallery #preview-action {
    display: none;
}

.modula .nav-tab .modula-badge {
  font-size: 10px;
  background: #f4daa4;
  padding: 2px 5px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
}

.modula-settings-upsell {
    max-width: 600px;
    padding: 15px;
    background: #fff;
    margin-bottom: 20px;
}

.modula-settings-tab-upsell {
  padding: 20px;
  background: #fff;
  color: #3c434a;
}

.modula-settings-upsell a:first-child, .modula-settings-tab-upsell a:first-child {
  margin-right: 10px;
}

.modula-columns {
  display: flex;
}

.modula-columns .m-col-8 {
    flex: 0 0 70%;
    max-width: 70%;
}

.modula-columns .m-col-4 {
  flex: 0 0 30%;
  max-width: 30%;
}

.modula-columns .modula-column {
  box-sizing: border-box;
}

.modula-columns .modula-column + .modula-column {
  padding-left: 20px;
}

.modula-side-tab .modula-upsell {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
}

.modula-side-tab .modula-upsell .modula-upsell-content {
  margin-bottom: 15px;
}
.modula-side-tab .modula-upsell h3 {
  margin-top: 0;
}

/*
** Compatibility Block CSS
 */

.modula-tab-content {
	position : relative;
}

.form-table-wrapper .modula-compatibility {
	text-align : left;
	margin     : 30px;
}

.form-table-wrapper .modula-compatibility-block {
	width      : 100%;
	height     : 60px;
	position   : absolute;
	background : gray;
	z-index    : 9;
	opacity    : 0.5;
}


.modula-tab-content td > span.dashicons,
.modula-tabs-content td > span.modula_input_suffix {
	padding        : 5px;
	background     : #eaecef;
	color          : #000;
	position       : relative;
	border-top     : 1px solid #7e8993;
	border-bottom  : 1px solid #7e8993;
	display        : inline-block;
	vertical-align : middle;
}

.modula-tab-content td > span.dashicons {
	border-top-left-radius    : 4px;
	border-bottom-left-radius : 4px;
	border-left               : 1px solid #7e8993;
}

.modula-tabs-content td > span.modula_input_suffix {
	border-top-right-radius    : 4px;
	border-bottom-right-radius : 4px;
	border-right               : 1px solid #7e8993;
	left                       : -2px;
	display                    : inline-block;
	vertical-align             : middle;
	line-height: 20px;
}

html body .modula-settings-container .modula-tab-content tr[data-container="gutter"] > td,
html body .modula-settings-container .modula-tab-content tr[data-container="height"] > td {
	display:inline-block;
}

html body .modula-settings-container .modula-tab-content tr[data-container] input.modula-gutter-input {
	border-radius : 0;
	border-right  : 0;
	border-left   : 0;
	min-width     : 62px;
	max-width     : 62px;
	height        : 32px;
	position      : relative;
	left          : -1px;
}

/* Modula hover effects style */
.modula-preview-item-container {
  position: relative;
}
.modula-preview-item-container .modula-preview-badge {
  background: #dc3232;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.modula-preview-item-container .modula-preview-item-content {
  background: #f1f1f1;
  padding: 0 10px;
  flex:1;
}
.modula-preview-item-container .modula-preview-item-content h4 {
  margin: 0;
  padding: 10px 0 10px;
}
.modula-preview-item-container {
  border: 2px solid transparent;
  height: 100%;
    display: flex;
    flex-direction: column;
}
#modula-hover-effect .modula-effects-preview .panel-pro-preview input[type="radio"]:checked + .modula-preview-item-container {
  border-color: #0071a1;
}

html body #wpbody #poststuff #post-body .postbox-container #modula-hover-effect .modula-effects-preview {
  position   : relative;
  min-height : 650px;
}

#modula-hover-effect .modula-effects-preview .panel-pro-preview {
  width: 31%;
  margin-bottom: 20px;
}

#modula-hover-effect .modula-effects-preview .panel-pro-preview h4 {
  text-align:center;
}

#modula-hover-effect .modula-effects-preview .modula-effects-wrapper {
  max-height : 600px;
  overflow-Y : scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#modula-hover-effect .modula-effects-preview .panel-pro-preview input[type="radio"] {
  display:none;
}

.modula-settings-container .modula-tabs-content input[type=checkbox]:disabled{
  opacity:0;
  cursor: default;
}

.modula-settings-container .modula-tabs-content .modula_settings_accordion {
  float: right;
  font-size: 12px;
  line-height: 16px;
  color: #1d2327;
  cursor: pointer;
}

.modula-settings-container .modula-tabs-content .modula_settings_accordion:after {
  right: 0;
  content: "\f140";
  font: normal 20px/1 dashicons;
  display: inline-block;
  padding: 0 5px 0 0;
  bottom: 2px;
  position: relative;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  top: 2px;
}

.modula-settings-container .modula-tabs-content .modula_accordion_open .modula_settings_accordion:after {
  content: "\f142";
}

.modula-settings-container .modula-tabs-content .modula-icons-radio-wrapper input[type=radio] {
  position: absolute;
  opacity: 0;
}

.modula-settings-container .modula-tabs-content .modula-icons-radio-wrapper {
  display: inline-flex;
}

.modula-settings-container .modula-tabs-content .modula-radio-icon {
	border-left: 1px solid #ccd0d4;
	border-top: 1px solid #ccd0d4;
	border-bottom: 1px solid #ccd0d4;
	padding: 15px 15px 12px 15px;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.modula-settings-container .modula-tabs-content .modula-radio-icon:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #ccd0d4;
}
.modula-settings-container .modula-tabs-content .modula-icons-radio-wrapper .modula-radio-icon:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modula-settings-container .modula-tabs-content .modula-icon-radio-name {
  margin-left: 10px;
  font-weight: 500;
  width: auto;
  position: relative;
}
.modula-settings-container .modula-tabs-content .modula-radio-icon > img {
  max-width: 30px;
}

.modula-icons-radio-wrapper{
	max-width: 420px;
	position: relative;
	left: -85px;
}

.modula-settings-container .modula-tabs-content .modula-icons-radio-wrapper input[type="radio"]:checked + label {
	border: 1px solid #27be92;
	margin-right: -1px;
	z-index: 99;
	box-shadow: 0 0 5px #27be92;
}

.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-disabled,
.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-install {
	cursor: default;
	position: relative;

}

.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-disabled > *,
.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-install > *{
	opacity: 0.5;
}

.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-install::after {
  content: 'NOT INSTALLED';
  position: absolute;
  right: -1px;
  top: -1px;
  left: -1px;
  background-color: #9c9c9c;
  padding: 1px 6px;
  font-size: 10px;
  color: #fff;
  border-top-right-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
}

.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-disabled::after {
  content: 'PRO';
  position: absolute;
  right: -1px;
  top: -1px;
  background-color: #9c9c9c;
  padding: 2px 6px;
  font-size: 11px;
  border-bottom-left-radius: 5px;
  color: #fff;
  border-top-right-radius: 5px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1360px) {
	.modula-settings-container .modula-tabs-content .modula-icons-radio-wrapper {
		display: block;
	}
	html body .modula-settings-container .modula-tabs-content .modula-radio-icon,
	html body .modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-disabled,
	html body .modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-install{
		border:1px solid #ccd0d4;
		border-radius:0;
	}
	.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-disabled::after,
	.modula-settings-container .modula-tabs-content .modula-radio-icon.modula-radio-icon-install::after{
		border-top-right-radius: 0;
	}
}
/**
Some responsive fixes
 */
/*

@media all and (max-width:1300px){
	.modula-settings-container {
		display:block;
	}

	.modula-settings-container .modula-tabs .modula-tab {
		display:inline-block;
		width:auto;
		font-size:0;
		padding:10px !important;
	}

	.modula-settings-container .modula-tabs .modula-tab:before {
		content:"";
		width:3px;
		display:block;
	}

	.modula-settings-container .modula-tabs .modula-tab > i {
		margin:0;
	}
}

@media all and (min-width:850px) and (max-width:1300px){
	.modula-settings-container .modula-tabs-content th,
	.modula-settings-container .modula-tabs-content td {
		display:block;
		width:100%;
	}

	.modula-settings-container .modula-tabs-content td {
		padding-left:25px;
	}

	.modula-settings-container .modula-tabs-content th.child_setting + td {
		padding-left:45px;
	}

	.modula-settings-container select, .modula-settings-container input:not([type="select-one"]):not([type="button"]):not([readonly="readonly"]), .modula-settings-container select {
		min-width:175px;
	}

	.modula-filters-container .modula-filters,
	.modula-pro-live-preview {
		max-width:calc(100% - 65px);
	}
}

@media all and (min-width:600px) and (max-width:849px){
	.modula-settings-container .modula-tabs-content th,
	.modula-settings-container .modula-tabs-content .form-table th.child_setting {
		display:table-cell;
	}

	.modula-filters-container .modula-filters,
	.modula-pro-live-preview {
		max-width:calc(100% - 65px);
	}

	.modula-settings-container .modula-tabs-content .form-table td {
		padding-top:20px;
		padding-bottom:20px;
	}
}

@media all and (max-width: 599px){
	.modula-settings-container .modula-tabs-content th,
	.modula-settings-container .modula-tabs-content td {
		display:block;
		width:100%;
	}

	.modula-filters-container .modula-filters,
	.modula-pro-live-preview {
		max-width:calc(100% - 65px);
	}

	.modula-settings-container .modula-tabs-content td {
		padding-left:25px;
	}

	.modula-settings-container .modula-tabs-content th.child_setting + td {
		padding-left:45px;
	}

	.modula-settings-container th:not(.child_setting) + td select, .modula-settings-container th:not(.child_setting) +  td input:not([type="select-one"]):not([type="button"]):not([readonly="readonly"]), .modula-settings-container th:not(.child_setting) + td select {
		max-width:calc(100% - 65px) !important;
	}

	.modula-settings-container th.child_setting + td select, .modula-settings-container th.child_setting + td input:not([type="select-one"]):not([type="button"]):not([readonly="readonly"]), .modula-settings-container th.child_setting + td  select {
		max-width:calc(100% - 85px) !important;
	}

	.modula-settings-container .modula-tabs-content .form-table td {
		padding-top:20px;
		padding-bottom:20px;
	}

}
*/
