ul.modula_file_browser {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    padding:15px;
}

ul.modula_file_browser li {
    list-style-type: none;
}

ul.modula_file_browser li a{
    text-decoration: none;
    color:#2271b1;
}

ul.modula_file_browser li a::before {
    content: "\f139";
    font-family: dashicons;
    margin-right: 5px;
}

ul.modula_file_browser li.folder_open > a::before {
    content: "\f140";
}

#modula_create_gallery {
   margin-top:30px;
}

#modula-progress {
    display:block;
    width:100%;
    margin-top:30px;
}

#modula-progress .modula-progress-text {
    margin-top: 30px;
    font-size: 14px;
    color: #555;
    font-style: italic;
}

#modula-progress .modula-progress-bar {
    width: 0px;
    height: 20px;
    background-color: blue;
    margin-top: 30px;
    position: relative;
    border-radius: 3px;
    transition: width 0.3s ease;
}

#modula_browser label {
    margin-top:30px;
    display: block;
    position: relative;
}

#modula_browser label input {
    margin-right:10px;
}