.modula-feedback-notice{
	padding: 22px;
	border: 2px solid #2ebf91;
	margin-top: 20px;
	position: relative;
}
.modula-feedback-notice .notice-dismiss{
	text-decoration: none;
}
.notice p.modula-feedback-title {
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-top: 0;
}
.modula-feedback-title svg {
	width: 35px;
	margin-right: 10px;
}
.modula-feedback-title svg path {
	fill: #2ebf91;
}


.modula-cutsom-notice {
	overflow: hidden;
}

.modula-cutsom-notice > svg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: auto;
	color: #2ebf91;
	transform: translate(-30%, -30%);
}

.modula-cutsom-notice > svg path {
	fill: #2ebf91;
}
.modula-cutsom-notice p,
.modula-cutsom-notice a:not( .notice-dismiss ) {
	position: relative;
	z-index: 2;
}

.modula-cutsom-notice p {
	text-align: center;
}
.modula-cutsom-notice .modula-feedback-title {
	justify-content: center;
}
.modula-cutsom-notice p:not( .modula-feedback-title ){
	max-width: 1100px;
	margin: 20px auto;
}
.modula-cutsom-notice a:not( .notice-dismiss ) {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
