/* ----------------------------------------------------------------------------
 * Welcome Page CSS
 * ------------------------------------------------------------------------- */
.modula .wp-badge {
    background-color: transparent;
    background-image: url( ../../images/logo-dark.webp );
}

.modula img.modula-logo {
    width:auto;
    max-width:150px;
    display:inline-block;
    vertical-align:middle;
}

/* Lite vs PRO Section */

body.modula-gallery_page_modula-lite-vs-pro #wpcontent .wrap {
    margin    : 0 auto;
    max-width : 85%;
}

.modula.lite-vs-pro-section > .wpchill-plans-table.wpchill-highlight > .wpchill-pricing-package {
    background : #fefff0;
    box-shadow: 0 0 15px rgb(208 219 219);
}

.lite-vs-pro-section .wp-badge{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    margin-right:2.5%;
}

.lite-vs-pro-section h3 {
    display:block;
    position:relative;
    font-size: 16px;
    margin: 0;
}
.lite-vs-pro-section p {
    font-size: 14px;
    margin: 0;
}

.wpchill-plans-table {
    display    : flex;
}

.wpchill-plans-table.table-header {
    margin-top : 50px;
}

.wpchill-plans-table.table-footer .wpchill-pricing-package:last-child {
    border:0;
}

.wpchill-plans-table .wpchill-pricing-package {
    text-align      : center;
    line-height     : 1.5;
    padding         : 10px 15px;
    display         : flex;
    align-content   : center;
    align-items     : center;
    justify-content : center;
    background      : #fff;
    border-top      : 1px solid #ccc;
}

.wpchill-plans-table .wpchill-pricing-package:not(:first-child) {
    max-width : 300px;
}

.wpchill-plans-table.table-header .wpchill-pricing-package {
    border:0;
}

.wpchill-plans-table.table-header .wpchill-pricing-package:not(.wpchill-modula-lite):last-child:before,
.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-highlight::before{
    content        : '';
    width          : auto;
    display        : inline-block;
    opacity        : 1;
    position       : absolute;
    top            : -1px;
    background     : #41495b;
    text-align     : center;
    left           : 0;
    right          : 0;
    color          : #fff;
    font-size      : 15px;
    text-transform : uppercase;
    padding        : 10px 5px;
    transform      : translateY(-100%);
}

.lite-vs-pro-section .wpchill-plans-table.table-header {
    border-top: 0;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title {
    font-weight        : 400;
    color              : #666;
    font-size          : 1.25rem;
    height             : auto;
    -ms-flex-direction : column;
    flex-direction     : column;
    padding-top        : 30px;
    padding-bottom     : 30px;
    justify-content    : space-between;
    position           : relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-modula-lite {
    justify-content: center;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.description {
    font-style : italic;
    font-size  : 13px;
    margin-bottom: 40px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p:last-child {
    font-size  : 30px;
    margin: 0 0 40px 0;
}
.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price {
    margin: 0;
    position: relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price:after {
    content: "";
    height: 2px;
    width: 60px;
    background: red;
    display: block;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-name {
    margin    : 0;
    font-size : 36px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-price sup {
    top: 2px;
    position: relative;
    font-size: 15px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-empty {
    background   : transparent;
    border-color : transparent;
}

.wpchill-plans-table .wpchill-pricing-package.feature-name {
    justify-content : space-between;
    font-weight     : 400;
    text-align      : left;
    font-size       : 13px;
    display         : block;
    background      : transparent;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-saved {
    color : green;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons {
    width     : 30px;
    height    : 30px;
    font-size : 30px;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-no-alt {
    color : #ff3439;
}

.wpchill-plans-table .wpchill-pricing-package:last-child {
    background : #fefff0;
}

.wpchill-pricing-package .button .dashicons {
    font-size: 16px;
    vertical-align: middle;
    line-height: 26px;
}

/**
Featured section
 */

.featured-section.features .row {
    display: inline-block;
    width: 97%;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
}

.featured-section.features .row .dashicons-yes {
    color: #2cbe4e;
}

.featured-section.features .row .dashicons-no-alt {
    color: #FF3D2E;
}

.featured-section.features .row > div {
    display: inline-block;
    float: left;
    width: 15%;
    text-align: center;
}

.featured-section.features .row > .feature {
    width: 70%;
    text-align: left;
}

.featured-section .free-pro-table {
    border-spacing: 0;
    width: 100%;
    margin-top:40px;
}

.featured-section .free-pro-table th {
    padding-bottom: 20px;
}

.featured-section .free-pro-table td {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.featured-section .free-pro-table thead tr th:nth-child(2) {
    color:green;
}

.featured-section .free-pro-table thead tr th:nth-child(3) {
    color:blue;
}

.featured-section .free-pro-table tbody tr:not(:last-child) td:nth-child(2) {
    background-color:#fefff0;
}

.featured-section .free-pro-table tbody tr:not(:last-child) td:nth-child(3){
    background-color:#fff;
}

.featured-section .free-pro-table h3 {
    margin: 0;
}

.featured-section .free-pro-table td p {
    margin: 0;
}

.featured-section .free-pro-table .lite-feature,
.featured-section .free-pro-table .pro-feature{
    text-align: center;
    width: 20%;
}

.featured-section .free-pro-table .dashicons-yes {
    color: #00A878;
}

.featured-section .free-pro-table .dashicons {
    width:30px;
    height:30px;
    font-size:30px;
}

.featured-section .free-pro-table .dashicons-no-alt {
    color: #ff3439;
}

.featured-section .free-pro-table .dashicons-before:before,
.featured-section .free-pro-table .dashicons-before:before {
    font-size: 35px;
    height: 35px;
    width: 35px;
}
.featured-section .button-hero .dashicons{
    font-size:16px;
    vertical-align:middle;
    line-height:26px;
}

.featured-section .ti-about-page-text-center {
    text-align: center;
}
.free-pro-table .text-right {
    text-align: right;
}

.modula-license-label {
    display: block;
}

.modula-license-label p.green strong {
    color:green;
}

.modula-license-label p.orange strong {
    color:orange;
}

.modula-license-label p.red strong {
    color:red;
}

/* Tabs tooltips */
.modula-tooltip {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.modula-tooltip > span {
    cursor: pointer;
    color: #0073aa;
    text-decoration: underline;
    margin-left: 5px;
}

.modula-tooltip .modula-tooltip-content {
    display: none;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate( 100% ,-50% );
    width: 300px;
    background: #000;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    z-index: 99;
}

.modula-tooltip .modula-tooltip-content:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #000 transparent transparent;
    display: block;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY( -50% );
}

.modula-tooltip:hover .modula-tooltip-content {
    display: block;
}
