/* Lite vs PRO Section */

body.modula-gallery_page_modula-lite-vs-pro #wpcontent .wrap {
    margin    : 0 auto;
    max-width : 85%;
}

.modula.lite-vs-pro-section > .wpchill-plans-table.wpchill-highlight > .wpchill-pricing-package {
    background : #fefff0;
    box-shadow: 0 0 15px rgb(208 219 219);
}

.lite-vs-pro-section .wp-badge{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    margin-right:2.5%;
}

.lite-vs-pro-section h3 {
    display:block;
    position:relative;
    font-size: 16px;
    margin: 0;
}
.lite-vs-pro-section p {
    font-size: 14px;
    margin: 0;
}

.wpchill-plans-table {
    display    : flex;
}

.wpchill-plans-table.table-header {
    margin-top : 50px;
}

.wpchill-plans-table.table-footer .wpchill-pricing-package:last-child {
    border:0;
}

.wpchill-plans-table .wpchill-pricing-package {
    text-align      : center;
    line-height     : 1.5;
    padding         : 10px 15px;
    display         : flex;
    align-content   : center;
    align-items     : center;
    justify-content : center;
    background      : #fff;
    border-top      : 1px solid #ccc;
}

.wpchill-plans-table .wpchill-pricing-package:not(:first-child) {
    max-width : 300px;
}

.wpchill-plans-table.table-header .wpchill-pricing-package {
    border:0;
}

.wpchill-plans-table.table-header .wpchill-pricing-package:not(.wpchill-modula-lite):last-child:before,
.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-highlight::before{
    content        : '';
    width          : auto;
    display        : inline-block;
    opacity        : 1;
    position       : absolute;
    top            : -1px;
    background     : #41495b;
    text-align     : center;
    left           : 0;
    right          : 0;
    color          : #fff;
    font-size      : 15px;
    text-transform : uppercase;
    padding        : 10px 5px;
    transform      : translateY(-100%);
}

.lite-vs-pro-section .wpchill-plans-table.table-header {
    border-top: 0;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title {
    font-weight        : 400;
    color              : #666;
    font-size          : 1.25rem;
    height             : auto;
    -ms-flex-direction : column;
    flex-direction     : column;
    padding-top        : 30px;
    padding-bottom     : 30px;
    justify-content    : space-between;
    position           : relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title.wpchill-modula-lite {
    justify-content: center;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.description {
    font-style : italic;
    font-size  : 13px;
    margin-bottom: 40px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p:last-child {
    font-size  : 30px;
    margin: 0 0 40px 0;
}
.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price {
    margin: 0;
    position: relative;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title .wpchill-price p.old-price:after {
    content: "";
    height: 2px;
    width: 60px;
    background: red;
    display: block;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-name {
    margin    : 0;
    font-size : 36px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-title p.wpchill-price sup {
    top: 2px;
    position: relative;
    font-size: 15px;
}

.wpchill-plans-table .wpchill-pricing-package.wpchill-empty {
    background   : transparent;
    border-color : transparent;
}

.wpchill-plans-table .wpchill-pricing-package.feature-name {
    justify-content : space-between;
    font-weight     : 400;
    text-align      : left;
    font-size       : 13px;
    display         : block;
    background      : transparent;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-saved {
    color : green;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons {
    width     : 30px;
    height    : 30px;
    font-size : 30px;
}

.wpchill-plans-table .wpchill-pricing-package .dashicons-no-alt {
    color : #ff3439;
}

.wpchill-plans-table .wpchill-pricing-package:last-child {
    background : #fefff0;
}

.wpchill-pricing-package .button .dashicons {
    font-size: 16px;
    vertical-align: middle;
    line-height: 26px;
}