/* ----------------------------------------------------------------------------
 * Welcome Page CSS
 * ------------------------------------------------------------------------- */
.modula .wp-badge {
    background-color: transparent;
    background-image: url( ../../images/logo-dark.webp );
}

.modula img.modula-logo {
    width:auto;
    max-width:150px;
    display:inline-block;
    vertical-align:middle;
}

/* Lite vs PRO Section */

.lite-vs-pro-section .wp-badge{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    margin-right:2.5%;
}

.lite-vs-pro-section h3 {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    margin:0 2.5% 0 25px;
}

.featured-section.features .row {
    display: inline-block;
    width: 97%;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
}

.featured-section.features .row .dashicons-yes {
    color: #2cbe4e;
}

.featured-section.features .row .dashicons-no-alt {
    color: #FF3D2E;
}

.featured-section.features .row > div {
    display: inline-block;
    float: left;
    width: 15%;
    text-align: center;
}

.featured-section.features .row > .feature {
    width: 70%;
    text-align: left;
}

.featured-section .free-pro-table {
    border-spacing: 0;
    width: 100%;
    margin-top:40px;
}

.featured-section .free-pro-table th {
    padding-bottom: 20px;
}

.featured-section .free-pro-table td {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.featured-section .free-pro-table thead tr th:nth-child(2) {
    color:green;
}

.featured-section .free-pro-table thead tr th:nth-child(3) {
    color:blue;
}

.featured-section .free-pro-table tbody tr:not(:last-child) td:nth-child(2) {
    background-color:#fefff0;
}

.featured-section .free-pro-table tbody tr:not(:last-child) td:nth-child(3){
    background-color:#fff;
}

.featured-section .free-pro-table h3 {
    margin: 0;
}

.featured-section .free-pro-table td p {
    margin: 0;
}

.featured-section .free-pro-table .lite-feature,
.featured-section .free-pro-table .pro-feature{
    text-align: center;
    width: 20%;
}

.featured-section .free-pro-table .dashicons-yes {
    color: #00A878;
}

.featured-section .free-pro-table .dashicons {
    width:30px;
    height:30px;
    font-size:30px;
}

.featured-section .free-pro-table .dashicons-no-alt {
    color: #ff3439;
}

.featured-section .free-pro-table .dashicons-before:before,
.featured-section .free-pro-table .dashicons-before:before {
    font-size: 35px;
    height: 35px;
    width: 35px;
}
.featured-section .button-hero .dashicons{
    font-size:16px;
    vertical-align:middle;
    line-height:26px;
}

.featured-section .ti-about-page-text-center {
    text-align: center;
}
.free-pro-table .text-right {
    text-align: right;
}

.modula-license-label {
    display: block;
}

.modula-license-label p.green strong {
    color:green;
}

.modula-license-label p.orange strong {
    color:orange;
}

.modula-license-label p.red strong {
    color:red;
}