.wpchill-aboutyou {
	display: flex;
	flex-direction: column;
	background: #fff;
	margin: 0 auto;
	width: 100%;

	box-sizing: border-box;
}

.wpchill-aboutyou-body {
	padding: 0 50px;
	flex: 1;
	margin-bottom: 40px;
}

.wpchill-aboutyou-title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
}

.wpchill-aboutyou-subtitle {
	font-size: 14px;
	color: #555;
	margin-bottom: 20px;
}

.wpchill-section-wrapper .components-radio-control__group-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wpchill-aboutyou-sectiontitle {
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 10px;
}

.wpchill-aboutyou-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 50px;
	border-top: 1px solid #e0e0e0;
}

.wpchill-aboutyou-back {
	color: #555;
	background: none;
	border: none;
	cursor: pointer;
}

.wpchill-save-step-button {
	background-color: #2EBF91 !important;
	border: none;
	color: #fff;
	border-radius: 4px;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	font-size: 16px;
	height: 44px;
}

.wpchill-save-step-button:hover:not(:disabled) {
	background-color: #2ab488 !important;
}

.wpchill-save-step-button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.wpchill-save-step-spinner {
	margin-right: 8px;
}

.wpchill-save-step-text {
	display: inline-block;
}