.ZrVV_oVUUXei2_m9bGmy {
}

.bTcx1n2y8X8R4LPk3TCL {
    margin-bottom: 1.5rem;
    font-size: 14px;
    color: #757575;
    max-width: 500px;
}

.tcyly_pF221L4i3gxM3j {
    margin-top: 1.5rem;
} 
#tab-panel-0-register {
    padding-right: 0 !important;
}
