$border-color: #6c7781;
$toggle-active-color: #11a0d2;

.modulaToggle {
    position: relative;
    user-select: none;
    display: flex;
    .modulaToggleItems {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
    
        & > * {
            box-sizing: inherit;
        }
    }
    .modulaToggleLabel {
        font-size: 16px;
        font-weight: 400;
        margin-right: 15px;
        min-width: 170px;
        display: inline-block;
    }
    .modulaToggleInput {
        border-radius: 2px;
        border: 2px solid $border-color;
        margin-right: 12px;
        transition: none;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        &:disabled{
            border: none;
        }
        &:disabled:checked:before{
            opacity: 0;
        }
    }
    
    .modulaToggleTrack {
        background-color: #fff;
        border: 2px solid $border-color;
        border-radius: 9px;
        display: inline-block;
        height: 18px;
        width: 36px;
        vertical-align: top;
        transition: background 0.2s ease;
    }
    
    .modulaToggleThumb {
        background-color: $border-color;
        border: 5px solid $border-color;
        border-radius: 50%;
        display: block;
        height: 10px;
        width: 10px;
        position: absolute;
        left: 4px;
        top: 4px;
        transition: transform 0.2s ease;
    }
    
    .modulaToggleOff {
        position: absolute;
        right: 6px;
        top: 6px;
        color: $border-color;
        fill: currentColor;
    }
    
    .modulaToggleOn {
        position: absolute;
        top: 6px;
        left: 8px;
        border: 1px solid #fff;
        outline: 1px solid transparent;
        outline-offset: -1px;
        display: none;
    }
    
    .modulaToggleInput:checked + .modulaToggleItems .modulaToggleTrack {
        background-color: $toggle-active-color;
        border: 9px solid transparent;
    }
    
    .modulaToggleInput:checked + .modulaToggleItems .modulaToggleThumb {
        background-color: #fff;
        border-width: 0;
        transform: translateX(18px);
    }
    
    .modulaToggleInput:checked + .modulaToggleItems .modulaToggleOff {
        display: none;
    }
    
    .modulaToggleInput:checked + .modulaToggleItems .modulaToggleOn {
        display: inline-block;
    }
}
